<ion-header>
  <ion-toolbar>
    <ion-title>calculadora</ion-title>
   

  </ion-toolbar>
</ion-header>

<ion-content>

  <p id="textoPantalla">0</p>
<p>
<ion-button value="CE" click="borradoParcial()">CE</ion-button>
<ion-button value="C" click="borradoTotal()" >C</ion-button>
</p>
<p>
<ion-button value="7" click="numero('7')" >7</ion-button>
<ion-button value="8" click="numero('8')" >8</ion-button>
<ion-button value="9" click="numero('9')" >9</ion-button>
<ion-button value="/" click="operar('/')" >/</ion-button>
</p>
<p>
<ion-button value="4" click="numero('4')" >4</ion-button>
<ion-button value="5" click="numero('5')" >5</ion-button>
<ion-button value="6" click="numero('6')" >6</ion-button>
<ion-button value="*" click="operar('*')" >*</ion-button>
</p>
<p>
<ion-button value="1" click="numero('1')" >1</ion-button>
<ion-button value="2" click="numero('2')" >2</ion-button>
<ion-button value="3" click="numero('3')" >3</ion-button>
<ion-button value="-" click="operar('-')" >-</ion-button>
</p>
<p>
<ion-button value="0" click="numero(0)" >0</ion-button>
<ion-button value="." click="numero('.')" >.</ion-button>
<ion-button value="3" click="operar('+')" >+</ion-button>
<ion-button value="=" click="igualar()" >=</ion-button>
</p>



</ion-content>
